[name='search']{
  input {
    background: none;
    border-top: none;
    box-shadow: none;
    border-radius: 0;

    &:focus {box-shadow:none; border-color: #000}
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $landing-color;
    text-align: center;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $landing-color;
    opacity:  1;
    text-align: center;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $landing-color;
    opacity:  1;
    text-align: center;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    $landing-color;
    text-align: center;
  }
}
