<form name="search" ng-submit="$ctrl.searchForm(search)" novalidate>
  <div class="form-group">
    <input type="search" class="form-control" name="search" placeholder="Search actors, genre, tags and much more.." ng-model="$ctrl.search.search" ng-required="true">
  </div>
</form>
