.popup-gallery {
  .img-responsive {width: 100%}
  img {
    display: block;
    margin: 0 auto;
  }
}
.no-gutter [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}
.header-content-inner {
  padding-top: 38vh;
  position: relative;
}
