<div class="col-lg-4 col-sm-6">
  <a ng-href="http://lorempixel.com/525/250/" class="portfolio-box" target="_blank">
    <img ng-src="http://lorempixel.com/525/250/" class="img-responsive" alt="">
    <div class="portfolio-box-caption">
      <div class="portfolio-box-caption-content">
        <div class="project-category text-faded">
          {{card.title}}
        </div>
        <div class="project-name">
          {{card.subText}}
        </div>
      </div>
    </div>
  </a>
</div>
