<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <search-form></search-form>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">filters</div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="inputName">Name</label>
              <input type="text" class="form-control" id="inputName" placeholder="Email">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Check me out
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Check me out again
              </label>
            </div>
            <div class="form-group">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <select multiple class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <button type="button" class="btn btn-default">Reset</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <section class="no-padding">
        <div class="container-fluid">
          <div class="row no-gutter popup-gallery" infinite-scroll='$ctrl.nextPage()' infinite-scroll-disabled='$ctrl.busy' infinite-scroll-listen-for-event="list:filtered">
            <cards ng-repeat="card in $ctrl.results"></cards>
            <p class="text-center" ng-show='$ctrl.busy'>
              <?xml version="1.0" encoding="utf-8"?><svg width='120px' height='120px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="uil-heart"><rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect><g transform="translate(50 50)"><g><g transform="translate(-50 -50)"><path d="M90,30.2c0-11-9-20.1-20-20.1s-20,9.1-20,20.2c0,0.2,0-0.3,0,0.7H50c0-1,0-0.6,0-0.8c0-11-9-20.1-20-20.1s-20,9.1-20,20.2 c0,0.2,0-0.3,0,0.7h0c0.3,20,30,39.5,40,55c10-15.5,39.7-35,40-55h0C90,30,90,30.4,90,30.2z" fill="#f02"></path></g><animateTransform attributeName="transform" type="scale" from="1.3" to="0.9" dur="1s" repeatCount="indefinite" calcMode="spline" values="1.3;0.9;1.1;0.9" keyTimes="0;0.3;0.301;1" keySplines="0 0.75 0.25 1;0 1 0 1;0 .75 .25 1"></animateTransform></g></g></svg>
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
